:root {
    --main-bg-color: #14161A;
    --column-bg-color: var(--fhs-gray-gray-900);
    --column-border-radius: 16px;
    --fhs-white: #FFFFFF;
    --fhs-gray-gray-200: #EBF0F5;
    ;
    --fhs-gray-gray-300: #DCE4EC;
    --fhs-gray-gray-400: #C1C6D1;
    --fhs-gray-gray-500: #9B9FAA;
    --fhs-gray-gray-600: #828795;
    --fhs-gray-gray-700: #656973;
    --fhs-gray-gray-800: #494C54;
    --fhs-gray-gray-900: #2F323A;
    --fhs-gray-gray-1000: #14161A;
    --success-800: #257D69;
    --fhs-primary-blue-600: #4DB8DA;
    --fhs-primary-blue-800: #2C7F96;
    --fhs-primary-blue-900: #2B6679;
}

html,
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    touch-action: none;
}

h1,
p {
    margin: 0 0 1em
}


body {
    flex: auto;
    flex-grow: 1;
    font-family: Hanken Grotesk, sans-serif;
    background-color: var(--main-bg-color);
}

.titlebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    background-color: var(--fhs-gray-gray-900);
    padding-left: 12px;
    padding-right: 12px;

}

/* ----------------------------- Switch - Style ------------------------ */

.switchHolder {
    display: flex;
    gap: 8px;
    align-items: center;
    color: var(--fhs-gray-gray-600, #828795);
    font-family: Hanken Grotesk;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.switchHolderActive {
    color: var(--fhs-gray-gray-200);
}

.switch {
    display: none;
}

.customcheck {
    display: flex;
    width: 64px;
    height: 32px;
    border-radius: 20px;
    background: var(--fhs-gray-gray-800);
}

.customcheckActive {
    background: var(--success-800);
}

/* styles when inactive */
.checkitem {
    width: 24px;
    height: 24px;
    border-radius: 16px;
    background-color: #696969;
    transition: all 0.5s ease;
    margin: 4px;
}

/* styles when active */
.itemactive {
    margin-left: 36px;
    background: var(--fhs-gray-gray-400);
}

.container {
    display: flex;
    flex-grow: 1;
    margin: 0;
    justify-content: space-between;
    height: 100%;
    padding-right: 12px;
    padding-left: 12px;
}

.column {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: calc(16.66% - 8px);
    /* Adjusted width for six columns */
    background-color: #f2f2f2;
    border-radius: 16px;
    /* Added border radius */
    background-color: var(--column-bg-color);
    padding: 8px;
    padding-top: 24px;
    padding-bottom: 8px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.column.double {
    width: calc(2*16.66% - 8px);
    /* Adjusted width for six columns */
}


.columnHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    align-self: stretch;
    color: var(--fhs-gray-gray-300);
    text-align: center;
    font-family: Hanken Grotesk;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;
    margin-bottom: 24px;

}

.doubleContainer {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.valueHolder {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 0.5rem;
}

.horiz {
    flex-direction: row;
}

.value {
    color: var(--fhs-gray-white, #FFF);
    text-align: left;
    font-family: Hanken Grotesk;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.unit {
    color: var(--fhs-gray-gray-600, #828795);
    text-align: left;
    font-family: Hanken Grotesk;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.2rem;
    /* 200% */
}

.settingHeader {
    font-size: 0.75rem;
    color: var(--fhs-gray-gray-600);
    height: 1rem;
}

.colorIndicator {
    border-radius: 0.5rem;
    background: var(--success-success-700, #3A9C7C);
    width: 100%;
    height: 4px;
    align-self: stretch;
}

.colorIndicator.green {
    background: var(--success-success-700, #3A9C7C);
}

.colorIndicator.blue {
    background: #2C7F96;
}

.colorIndicator.orange {
    background: #92651C;
}

.colorIndicator.red {
    background: #891C38;
}

.colorIndicator.purple {
    background: #6E468B;
}



/* Slider Styling */

.doubleSlider {
    display: flex;
    gap: 1rem;
    width: 100%;
    height: 100%;
    margin-bottom: 16px;
}

.vertical-slider-container {
    display: flex;
    align-items: center;
    /* Align the slider to the bottom of the container */
    justify-content: center;
    gap: 10px;
    height: 100%;
    width: 100%;
}

.sliderValue {
    color: var(--fhs-gray-white, #FFF);
    text-align: left;
    font-family: Hanken Grotesk;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.sliderValue.dragging {
    color: var(--fhs-gray-gray-500);
}

.sliderValue.disabled {
    color: var(--fhs-gray-gray-600);
}

.slider-values {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    margin-left: 0px;
    color: var(--fhs-gray-gray-300);
    text-align: right;
    width: px;
}

/* -------------------- Button Styling ------------------------------   */
.buttonContainer {
    display: flex;
    width: 100%;
    gap: 24px;
    height: 64px;
    justify-content: center;
}

.divider {
    height: 2px;
    background-color: var(--fhs-gray-gray-800);
    margin-top: 24px;
    margin-bottom: 8px;
}

.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    color: #fff;
    background-color: var(--fhs-gray-gray-900);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

/* Define the styles for the SVG icon */
.icon {
    fill: var(--fhs-gray-gray-600);
    transition: fill 0.3s ease, color 0.3s ease;
    width: 32px;
    height: 32px;
    margin-left: 4px;
}

/* Change the button background and text color on click */


.icon-button:active .icon {
    fill: var(--fhs-gray-gray-800);
}


/* Active/Down state */
.button:active {
    background: var(--fhs-gray-gray-1000);
}

/* Inactive state */
.button:disabled {
    background-color: #ddd;
    color: #777;
    cursor: not-allowed;
}

/* Activated state */
.button.activated {
    background-color: #4CAF50;
    color: #fff;
    border-color: #45a049;
}

.iconHolder {
    background-color: #4CAF50;
    color: #fff;
    border-color: #45a049;
    width: 32px;
    height: 32px;
    background-color: var(--fhs-gray-gray-400);
    float: left;
    margin-right: 8px;
}

.buttonContentContainer {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}

.buttonLabel {
    font-size: 0.6875rem;
    color: var(--fhs-gray-gray-400);
}

.buttonContent {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    color: var(--fhs-gray-gray-200);
}



.slider-container {
    position: relative;
    background-color: red;
    display: flex;
    flex-direction: column;

}

.custom-slider {
    -webkit-appearance: none;
    appearance: none;
    width: height;
    height: 30px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
    position: absolute;
    transform: rotate(270deg);
    transform-origin: center;
}

.custom-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 0 50% 50% 0;
}

.custom-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 0 50% 50% 0;
}

#slider-value {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
}

/* -------------------- Button Styling ------------------------------  */

.buttonGroup {
    display: flex;
    gap: 0.5rem;
}

.button {
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    color: var(--fhs-gray-gray-200);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1rem;
    height: 3rem;
    background: var(--fhs-gray-gray-800);
    cursor: pointer;
}

.button:active {
    background: var(--fhs-gray-gray-1000);
}

.button.highlighted {
    background: var(--fhs-primary-blue-800);
}

.button.highlighted:active {
    background: var(--fhs-primary-blue-900);
}

.button img {
    margin-right: 0.5rem;
}

/* -------------------- Dialog Styling ------------------------------  */
.dialog {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    position: absolute;
    background: #14161AE0;
    z-index: 100;
    color: var(--fhs-white);
}

.dialog input {
    width: 3.5rem;
    font-size: 2rem
}

.dialogFrame {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    background: var(--fhs-gray-gray-900);
    padding: 1rem
}

.dialogTitle {
    font-size: 1.25rem;
}

.dialogSubTitle {
    font-size: 0.875rem;
    margin-top: 2.56rem;
}

.dialogChoiceGroup {
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    width: 35.9rem;
    gap: 0.5rem;
}

.dialogButtonGroup {
    align-self: flex-end;
    margin-top: 1.5rem;
}

.dialogChoice {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 15.7rem;
    height: 3rem;
    background: var(--fhs-gray-gray-800);
    border: 1px solid transparent;
    border-radius: 0.5rem;
    padding-left: 1rem;
}

.dialogChoice.selected {
    border: 1px solid var(--fhs-primary-blue-600);
}